@media (max-width: 992px) {
    .navbar-collapse-left {
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;

    }

    .navbar-collapse-left.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse-left.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler-left.collapsed ~ .navbar-collapse-left {
        transition: left 500ms ease-in-out;
    }
}

.top-nav-bar__container a:first-child::after {
    content: "\2022";
    padding-left: 8px;
}

.hero__bg-img {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./components/Reusable-Components/Hero/hero-bg-v2.jpg");
    background-position: right 0% bottom 10%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

@media (max-width: 768px) {
    .hero__bg-img {
        background-position: right 50% bottom 65%;
    }
}

.hero__heading {
    padding-top: 30vh;
}

.parallax-scrolling {
    min-height: 65vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./components/Reusable-Components/ParallaxScrolling/parallax-bg-v2.jpg");
}

.parallax-scrolling__heading {
    padding-top: 25vh;
}

/* Bootstrap rewrites */
.w-35 {
    width: 35% !important;
}

.w-15 {
    width: 15% !important;
}

.form-check-input:checked {
    background-color: #6c757d!important;
    border-color:  #6c757d!important;
}

.checkout__summary {
    background-color: #fafafa;
}

.shipping__body {
    min-height: 80vh;
}